data/
.env
*.db
docs/  <-- Unignored to allow documentation on GitHub
./venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
.DS_Store
.idea/
.vscode/
*.egg-info/
dist/
build/
*.egg
*.whl
*.tar.gz
*.zip
*.bak
*.tmp
*.swp
*.swo
.superpowers/
node_modules/
*.sublime-project
*.tsbuildinfo
incident_memory_db/
# /Volumes/MyData/AI Acclerator program documents/Hackthon/vendor_outage_investigator/docs <-- Unignored
*.cfg
backend_log.txt
LogGenerator/logs/
